@model IEnumerable<BookMyStyle.Models.Usluga>

@{
    ViewData["Title"] = "USLUGE";
}

<h1 class="salon-title">USLUGE</h1>
<a asp-action="Create" class="create-link">Dodaj novu uslugu</a>

<table class="table-custom">
    <thead>
        <tr>
            <th>Cijena usluge</th>
            <th>Naziv usluge</th>
            <th>Popust [%]</th>
            <th>Opis</th>
            <th>Trajanje [min]</th>
            <th>Tip usluge</th>
            <th>Salon</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Cijena.ToString("F2")</td>
                <td>@item.Naziv</td>
                <td>@item.Popust.ToString("F0")%</td>
                <td>@item.Opis</td>
                <td>@item.Trajanje</td>
                <td>@item.Tip</td>
                <td>@item.Salon?.Naziv</td>
                <td>
                    <div class="usluga-actions">
                        <a asp-action="Edit" asp-route-id="@item.uslugaID" class="btn-details">Uredi</a>
                        <a asp-action="Delete" asp-route-id="@item.uslugaID" class="btn-details cancel">Obriši</a>
                        <a asp-action="Details" asp-route-id="@item.uslugaID" class="btn-details">Detalji</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
