@model IEnumerable<BookMyStyle.Models.Usluga>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (User.IsInRole("Administrator") || User.IsInRole("Frizer"))
    {
        <a asp-action="Create">Kreiraj uslugu</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cijena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Popust)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trajanje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.salonID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cijena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Popust)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trajanje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salonID)
            </td>
            <td>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Frizer"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.uslugaID">Edit</a>
                        <nobr>|</nobr>
                        <a asp-action="Delete" asp-route-id="@item.uslugaID">Delete</a>
                        <nobr>|</nobr>
                    }
                    <a asp-action="Details" asp-route-id="@item.uslugaID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
