@model IEnumerable<BookMyStyle.Models.KorisnikSalon>

@{
    ViewData["Title"] = "Obavijesti";
}


<div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="text-light m-0">Obavijesti</h1>
    <a asp-action="Create" class="btn btn-success">
        <i class="bi bi-plus-lg"></i> Kreiraj Obavijest
    </a>
</div>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.salonID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.korisnikID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.salonID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.korisnikID)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.korisniksalonId" class="btn btn-sm btn-outline-primary">Uredi</a>
                    <a asp-action="Details" asp-route-id="@item.korisniksalonId" class="btn btn-sm btn-outline-info">Detalji</a>
                    <a asp-action="Delete" asp-route-id="@item.korisniksalonId" class="btn btn-sm btn-outline-danger">Obriši</a>
                </td>
            </tr>
        }
    </tbody>
</table>
