@model IEnumerable<BookMyStyle.Models.KorisnikSalon>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.salonID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.korisnikID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.salonID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.korisnikID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.korisniksalonId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.korisniksalonId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.korisniksalonId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
