@model IEnumerable<BookMyStyle.Models.Termin>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (User.IsInRole("Administrator") || User.IsInRole("Frizer"))
    {
        <a asp-action="Create">Kreiraj termin</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NazivSalona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdresaSalona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NazivFrizera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumIVrijeme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.salonID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.uslugaID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NazivSalona)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdresaSalona)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NazivFrizera)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatumIVrijeme)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.salonID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.uslugaID)
                </td>
                <td>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Frizer")) 
                    {
                        <a asp-action="Edit" asp-route-id="@item.terminID">Edit</a> 
                        <nobr>|</nobr>
                        <a asp-action="Delete" asp-route-id="@item.terminID">Delete</a>
                        <nobr>|</nobr>
                    }
                    <a asp-action="Details" asp-route-id="@item.terminID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
