@model IEnumerable<BookMyStyle.Models.Obavijest>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole("Administrator"))
{
    <a asp-action="Create">Kreiraj obavijest</a>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tekst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumIVrijeme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.terminID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tekst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumIVrijeme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.terminID)
            </td>
            <td>
                    @if (User.IsInRole("Administrator")){
                <a asp-action="Edit" asp-route-id="@item.obavijestID">Edit</a> 
                <nobr>|</nobr>
                <a asp-action="Delete" asp-route-id="@item.obavijestID">Delete</a>
                <nobr>|</nobr>
                }
                <a asp-action="Details" asp-route-id="@item.obavijestID">Details</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
