@model BookMyStyle.Models.Recenzija

@{
    ViewData["Title"] = "BRISANJE";
}
@section Styles {
    <link rel="stylesheet" href="~/css/obavijest.css" />
}


<h3>Da li ste sigurni da želite obrisati?</h3>
<div>
    <h4>Recenzija</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ocjena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ocjena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumObjave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumObjave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Komentar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Komentar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.korisnikID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.korisnikID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.salonID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.salonID)
        </dd>
    </dl>
    
   
        <form asp-action="Delete" method="post" class="d-flex justify-content-start gap-2">
            <input type="hidden" asp-for="recenzijaID" />
        <button type="submit" class="btn btn-danger">
            <i class="fas fa-trash-alt me-1"></i> Obriši
        </button>
        <a asp-action="Index" class="btn btn-outline-light">
            <i class="fas fa-arrow-left me-1"></i> Natrag na listu
        </a>
    </form>
</div>
