@model IEnumerable<BookMyStyle.Models.Recenzija>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (User.IsInRole("Administrator") || User.IsInRole("Korisnik"))
    {
        <a asp-action="Create">Napisi recenziju</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ocjena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumObjave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Komentar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.korisnikID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.salonID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ocjena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumObjave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Komentar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.korisnikID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salonID)
            </td>
            <td>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Korisnik"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.recenzijaID">Edit</a>
                        <nobr>|</nobr>
                        <a asp-action="Delete" asp-route-id="@item.recenzijaID">Delete</a>
                        <nobr>|</nobr>
                    }
                    <a asp-action="Details" asp-route-id="@item.recenzijaID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
