@model IEnumerable<BookMyStyle.Models.Salon>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (User.IsInRole("Administrator") || User.IsInRole("Frizer"))
    {
        <a asp-action="Create">Kreiraj salon</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RadnoVrijeme)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RadnoVrijeme)
            </td>
            <td>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Frizer"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.salonID">Edit</a>
                        <nobr>|</nobr>
                        <a asp-action="Delete" asp-route-id="@item.salonID">Delete</a>
                        <nobr>|</nobr>
                    }
                    <a asp-action="Details" asp-route-id="@item.salonID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
