@model IEnumerable<BookMyStyle.Models.Salon>

@{
    ViewData["Title"] = "Saloni";
}

@section Styles {
    <link rel="stylesheet" href="~/css/salon.css" />
}

<div class="content-wrapper">
    <h1 class="salon-title">Saloni</h1>

    <p>
        @if (User.IsInRole("Administrator") || User.IsInRole("Frizer"))
        {
            <a asp-action="Create" class="create-link">Dodaj novi salon</a>
        }
    </p>

    <table class="table table-custom">
        <thead>
            <tr>
                <th>Ime salona</th>
                <th>Adresa</th>
                <th>Radno vrijeme</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Naziv</td>
                    <td>@item.Adresa</td>
                    <td>@item.RadnoVrijeme</td>
                    <td>
                        @* Stilizovani dugmad za Uredi, Obriši i Detalji *@
                        @if (User.IsInRole("Administrator") ||(User.IsInRole("Frizer") 
                        && ViewBag.MojSalonID != null && ViewBag.MojSalonID == item.salonID))
                        {
                            <a asp-action="Edit" asp-route-id="@item.salonID" class="btn-details">Uredi</a>
                            <a asp-action="Delete" asp-route-id="@item.salonID" class="btn-details">Obriši</a>
                        }

                        <a asp-action="Details" asp-route-id="@item.salonID" class="btn-details">Detalji</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
